<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta charset="UTF-8"/>
    <link href="__CSS__/weui.css" rel="stylesheet">
    <link href="__CSS__/self.css" rel="stylesheet">
    <title>中国流体设备网</title>
    <block name="headstyle"></block>
</head>
<block name="main"></block>
<script src="__JS__/jquery-1.8.3.js"></script>
<script src="__JS__/public.js"></script>
<script type="text/javascript">
	var str = navigator.userAgent;
	if (!str.match(/mobile/gi)) {
		alert("请使用手机查看!");
		$("body").html("");
	}

</script>
<block name="footer"></block>
</html>