<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<meta charset="UTF-8"/>
	<link href="../css/weui.css" rel="stylesheet">
	<link href="../css/self.css" rel="stylesheet">
	<link href="../css/xq_slide.css" rel="stylesheet">
	<title>中国流体设备网</title>
	<style type="text/css">
		body{
			min-height: 100vh;
			background: url('../img/comptop.png') no-repeat center top #f1f1f1;
			background-size: 100% auto;
		}
	</style>
</head>
<body>
	<div class="bar-header colwhit">
		<div class="weui-cell">
	        <div class="weui-cell__hd">
	        	<img src="../img/lefthei.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
	        <div class="weui-cell__bd texcen">
	            <p>高德阀门有限公司</p>
	        </div>
	    </div>
	</div>
	<div class="content" style="padding: 50px 20px 0px;">
		
		<div class="texcen comp fs10 colwhit">
			<div>
				<div><img src="../img/gongz.png"></div>
				<div>企业公众号</div>
			</div>

			<div class="complogo">
				<img src="../img/complogo.png"/>
			</div>

			<div>
				<div><img src="../img/fenx.png"></div>
				<div>企业公众号</div>
			</div>
		</div>
		

		<div class="navdo">
			
			<div class="bgwhit">
				<div><img src="../img/child1.png"></div>
				<div>企业介绍</div>
			</div>
			<div class="bgwhit">
				<div><img src="../img/child2.png"></div>
				<div>产品选型</div>
			</div>
			<div class="bgwhit">
				<div><img src="../img/child3.png"></div>
				<div>产品视频</div>
			</div>
			<div class="bgwhit">
				<div><img src="../img/child4.png"></div>
				<div>联系我们</div>
			</div>
		</div>

		<div class="texcen colwhit">
			<span class="btnbg">企业店铺</span>
		</div>
	</div>
</body>
<script src="../js/jquery-1.8.3.js"></script>
<script>
	
</script>
</html>