<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<meta charset="UTF-8"/>
	<link href="../css/weui.css" rel="stylesheet">
	<link href="../css/self.css" rel="stylesheet">
	<link href="../css/xq_slide.css" rel="stylesheet">

	<title>倾象洗衣</title>
</head>
<body>
	<div class="bar-header colwhit">
		<div class="weui-cell">
	        <div class="weui-cell__hd"><img src="../img/lefthei.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
	        <div class="weui-cell__bd">
	            <p></p>
	        </div>
	    </div>
	</div>
	<div class="content">
		
		<div class="colwhit pore">
			<img class="" src="../img/filetop.png" style="width:100%;"/>
			<div class="poab" style="right:10px;bottom:0px;">
				<img src="../img/sou.png" style="width: 50px;">
			</div>
		</div>
		
		<div class="catelist">
			<div class="cateitem mat10">
				<div class="cateleft">
					<span class="img texcen">1</span><span>蝶阀</span>
				</div>
				<div class="cateright">
				</div>
			</div>

			<div class="cateitem mat10">
				<div class="cateleft">
					<span class="img texcen">2</span><span>蝶阀</span>
				</div>
				<div class="cateright">
				</div>
			</div>

			<div class="cateitem mat10">
				<div class="cateleft">
					<span class="img texcen">3</span><span>蝶阀</span>
				</div>
				<div class="cateright">
				</div>
			</div>

			<div class="cateitem mat10">
				<div class="cateleft">
					<span class="img texcen">4</span><span>蝶阀</span>
				</div>
				<div class="cateright">
				</div>
			</div>

			<div class="cateitem mat10">
				<div class="cateleft">
					<span class="img texcen">5</span><span>蝶阀</span>
				</div>
				<div class="cateright">
				</div>
			</div>
		</div>

	</div>
</body>
<script src="../js/jquery-1.8.3.js"></script>
<script>
	
</script>
</html>