<extend name="Public/header"/>
	<block name="headstyle">
		<style type="text/css">
			body{
				min-height: 100vh;
				background: url('__IMG__/comptop.png') no-repeat center top #f1f1f1;
				background-size: 100% auto;
			}
		</style>
	</block>
<block name="main">
<body>
	<div class="bar-header colwhit">
		<div class="weui-cell">
	        <div class="weui-cell__hd" linkto="javascript:history.go(-1)">
	        	<img src="__IMG__/lefthei.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
	        <div class="weui-cell__bd texcen">
	            <p>{$comp['name']}</p>
	        </div>
	    </div>
	</div>
	<div class="content" style="padding: 50px 20px 0px;">
		
		<div class="texcen comp fs10 colwhit">
			<div>
				<div><img src="__IMG__/gongz.png"></div>
				<div>企业公众号</div>
			</div>

			<div class="complogo">
				<img src="Uploads/{$comp['logo']}"/>
			</div>

			<div>
				<div><img src="__IMG__/fenx.png"></div>
				<div>分享链接</div>
			</div>
		</div>
		

		<div class="navdo">
			
			<div class="bgwhit" linkto="{:U('Company/ourinfo',array('type'=>'desc','id'=>$comp['id']))}">
				<div><img src="__IMG__/child1.png"></div>
				<div>企业介绍</div>
			</div>
			<div class="bgwhit" <if condition="$comp['has_pdf'] eq 1">linkto="{:U('Company/pdf',array('pdf'=>$comp['protype']))}" <else/> linkto="{:U('Company/ourinfo',array('type'=>'protype','id'=>$comp['id']))}" </if>>
				<div><img src="__IMG__/child2.png"></div>
				<div>产品选型</div>
			</div>
			<div class="bgwhit" linkto="{:U('Company/ourinfo',array('type'=>'videosrc','id'=>$comp['id']))}">
				<div><img src="__IMG__/child3.png"></div>
				<div>产品视频</div>
			</div>
			<div class="disb bgwhit" linkto="tel:{$comp['tel']}">
				<div><img src="__IMG__/child4.png"></div>
				<div>联系我们</div>
			</div>
		</div>

		<a class="texcen colwhit disb" href="{$comp['shoplink']}" target="_blank">
			<span class="btnbg">企业店铺</span>
		</a>
	</div>
</body>
</block>
<block name="footer"></block>