<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>后台管理系统</title>
    <link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/invalid.css" type="text/css" media="screen" />
    <script type="text/javascript" src="__WEBPUBLIC__/Admin/js/jquery-1.9.1.min.js"></script>
</head>
<body>
<!--主页面-->
<div id="main-content">
    <div class="content-box">
        <!--头部切换-->
        <div class="content-box-header">
            <h3>文章列表</h3>
            <ul class="content-box-tabs">
                <li><a class="default-tab current">列表</a></li>
                <li><a href="{:U('Company/addCompany')}">新增</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <!--表格内容-->
        <div class="content-box-content">
            <!--内容表格 start-->
            <div class="tab-content default-tab">
                <form action="{:U('AdminBasic/delList',array('tname'=>'Company'))}" method="post">
                    <table border="1">
                        <!--标题 start-->
                        <thead>
                        <tr>
                            <th width="">ID</th>
                            <th width="">公司名</th>
                            <th width="">企业logo</th>
                            <th width="">企业介绍</th>
                            <td width="">所属分类</th>
                            <th width="">产品选型</th>
                            <th width="">官网地址</th>
                            <th width="">产品视频</th>
                            <th width="">电话</th>
                            <th width="">店铺地址</th>
                            <th width="10%">操作</th>
                        </tr>
                        </thead>
                        <!--标题 end-->
                        <!--内容 start-->
                        <tbody>
                            <volist name="list" id="art">
                                <tr>
                                    <td>{$art['id']}</td>
                                    <td>
                                        {$art['name']}
                                    </td>
                                    <td>
                                        <img src="__ROOT__/Uploads/{$art['logo']}" style="height:20px;"/>
                                    </td>
                                    <td>
                                        {$art['desc']}
                                    </td>
                                    <td>
                                        {$art['cateName']}
                                    </td>
                                    <td>
                                        {$art['protype']}
                                    </td>
                                    <td>
                                        {$art['url']}
                                    </td>
                                    <td>
                                        {$art['videosrc']}
                                    </td>
                                    <td>
                                        {$art['tel']}
                                    </td>
                                    <td>
                                        {$art['shoplink']}
                                    </td>
                                    <td>
                                        <a href="{:U('Company/editCompany',array('id'=>$art['id']))}" title="编辑">
                                            <img src="__WEBPUBLIC__/Admin/images/icons/pencil.png" width="16" height="18" alt="编辑" />
                                        </a>&nbsp;
                                        <a href="{:U('Company/delCompany',array('id'=>$art['id']))}" class="del" title="删除">
                                            <img src="__WEBPUBLIC__/Admin/images/icons/cross.png" alt="删除" />
                                        </a>
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                        <!--内容 end-->
                        <!--表尾 start-->
                        <tfoot>
                        <tr>
                            <td colspan="20">
                                <div class="bulk-actions align-left">
                                </div>
                                <div class="pagination">
                                    {$page}
                                </div>
                                <div class="clear"></div>
                            </td>
                        </tr>
                        </tfoot>
                        <!--表尾 end-->
                    </table>
                </form>
            </div>
            <!--内容表格 end-->
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function(){
        
    });
</script>
</html>
